*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p,h1,h2,div{
    margin: 16px 0;
    padding: 16px ;
}
.result{
    width: 80%;
    margin: auto;
}
.company-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active{
    background-color: orange!important;
}

.navbar-toggler{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-color: rgb(255,102,203);
    /* width: 50px; */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.navbar-toggler:after{
    content: "menu";
    position: absolute;
    left: 0;
}